{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}
	

<section class="section-content padding-y bg">
<div class="container">

<!-- ============================ COMPONENT 1 ================================= -->

<div class="row">
	<aside class="col-lg-6">
<div class="card">
    <div class='card-body'>
        <h3>Billing Address</h3>
        <form action="" method="post">
        {% csrf_token %} {% include 'message.html' %}

        <div class="form-row">
          <div class="col form-group">
            <label class="fw-bold form-label"
              >First Name</label
            >
            <input name='first_name' required placeholder='First Name' class='form-control'>
          </div>
          <!-- form-group end.// -->
          <div class="col form-group">
            <label class="fw-bold form-label"
              >Last Name</label
            >
            <input name='last_name' required placeholder='Last Name' class='form-control'>
          </div>
          <!-- form-group end.// -->
        </div>
        <!-- form-row end.// -->

        <div class="form-row">
          
            <label class="fw-bold form-label"
              >Address</label
            >
            <input name='address' required placeholder='Residential Address' class='form-control'>

        </div>
        
        <!-- form-group// -->
      
    </div>
</div> <!-- card.// -->

	</aside> <!-- col.// -->
	<aside class="col-lg-6">

		<div class="card">
		<div class="card-body">
			<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">

  <th scope="col">Product</th>
  <th scope="col" width="120">Quantity</th>
  <th scope="col" width="120">Price</th>
  
</tr>
</thead>
<tbody>



	{% for item  in cart_items %}
	<tr>
	<td>
		<figure class="itemside align-items-center">
			<div class="aside"><img src="{{item.product.image.url}}" class="img-sm"></div>
			<figcaption class="info">
				<a href="{% url 'product-detail' item.product.slug %}" class="title text-dark">{{item.product.product_name}}</a>
				<p class="text-muted small">
					
					{% if item.variation.all %}

					
					{% for value in item.variation.all %}
						{{value.variation_category | title}} : {{value.variation_value}}<br> 
					{% endfor %}
						
						
					{% endif %}
						
				</p>
			</figcaption>
		</figure>
	</td>
	<td> 
		<!-- col.// -->
					
							<input type="text" class="form-control" readonly  value="{{item.quantity}}">
							 <!-- col.// -->
	</td>
	<td> 
		<div class="price-wrap"> 
			<var class="price">${{item.get_amount|intcomma}}</var> 
			<small class="text-muted"> ${{item.product.price|intcomma}} each </small> 
		</div> <!-- price-wrap .// -->
	</td>
	
</tr>
{% endfor %}


</tbody>
</table>
			<dl class="dlist-align">
			  <dt>Total:</dt>
			  <dd class="text-right text-dark b"><strong>${{grandTotal|intcomma|floatformat:2}}</strong></dd>
			</dl>
			<hr>
			<p class="text-center mb-3">
				<img src="{% static './images/misc/payments.png' %}" height="26">
			</p>
			<button type='submit' class="btn btn-primary btn-block"> Place Order </button>
			<a href="{% url 'store' %}" class="btn btn-light btn-block">Continue Shopping</a>
            </form>
		</div> <!-- card-body.// -->
		</div> <!-- card.// -->

</aside> <!-- col.// -->


</div> <!-- row.// -->
<!-- ============================ COMPONENT 1 END .// ================================= -->

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

{% endblock %}