{% extends 'base.html' %}
{% load static %}
{% load humanize %}


{% block content %}
	



<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-conten padding-y" style="min-height:84vh">

<!-- ============================ COMPONENT LOGIN   ================================= -->
	<div class="card mx-auto" style="max-width: 380px; margin-top:100px;">
        <div align="center" class="m-3">
        <img class="logo" src="{% static './images/logo.png' %}" />
      </div>
      <div class="card-body">
      <h4 class="card-title mb-4">Sign in</h4>
      <form action="" method='post' >

        {% include 'message.html' %}

        {% csrf_token %}
          <div class="form-group">
			 <input type="email" name='email' class="form-control" placeholder="Email Address" >
          </div> <!-- form-group// -->
          <div class="form-group">
			<input type="password" name='password' class="form-control" placeholder="Enter Password" >
          </div> <!-- form-group// -->
          
          <div class="form-group">
          	<a href="#" class="float-right">Forgot password?</a> 
           
          </div> <!-- form-group form-check .// -->
          <div class="form-group">
              <button type="submit" class="btn btn-primary btn-block"> Login  </button>
          </div> <!-- form-group// -->    
      </form>
      </div> <!-- card-body.// -->
    </div> <!-- card .// -->

     <p class="text-center mt-4">Don't have account? <a href="{% url 'register' %}">Sign up</a></p>
     <br><br>
<!-- ============================ COMPONENT LOGIN  END.// ================================= -->


</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
<script>
  setTimeout(function () {
    $("#message").fadeOut("slow");
  }, 5000);
</script>

{% endblock %}